<div ng-if="$ctrl.entities == null || $ctrl.entities.length == 0" class="col-md-12" style="padding-bottom: 100px;">
    <div class="col-md-8" style="background-color: #e0e0eb; padding-top: 10px">
        <div class="col-md-8">
            <label class="col-md-12">No {{$ctrl.entitiesLabel}} found.</label>
        </div>
    </div>
</div>

<div class="container col-md-12" ng-if="$ctrl.entities != null && $ctrl.entities.length > 0" style="padding-bottom: 100px;">
    <ul class="list-group">
        <li class=" list-group-item col-md-8" ng-repeat="elem in $ctrl.entities" style="padding-bottom: 10px; padding-top: 10px; min-height:150px">
            <fieldset class="row align-items-center">
                <legend>{{elem.name}}</legend>
                <div class="col-md-1">
                    <button class="btn btn-primary" ng-click="$ctrl.edit(elem)">Edit</button>
                </div>
                <div class="col-md-1">
                    UID: {{elem.uid}} <br />
                </div>
                <div class="col-md-1">
                    <img ng-src="storage\resource?storageId={{elem.spriteData.resource.storageId}}" ng-hide='!elem.spriteData.enabled' alt="elem_icon" height="80" width="80">
                </div>
                <div class="col-md-9 text-right">
                    <button class="btn btn-secondary" ng-click="$ctrl.clone(elem)">Clone</button>
                    <button class="btn btn-secondary" ng-click="$ctrl.remove(elem)">Remove</button>
                </div>
            </fieldset>
        </li>
    </ul>

    <!-- Add permission for admin only -->
    <div class="col-md-12" style="padding-top: 10px">
        <div class="col-md-8">
            <button class="btn btn-danger float-md-right" type="input" ng-click="$ctrl.removeAll()" style="height:70px; margin-right:10px; margin-bottom: 5px">Remove All</button>
        </div>
    </div>

</div>
