<div class="container">
    <div class="form-group">
        <label for="dirSelect">Directory:</label>
        <select class="form-control" id="dirSelect"
                ng-init="$ctrl.selectedDir = $ctrl.directories[0]"
                ng-options="dir.name for dir in $ctrl.directories track by dir.id"
                ng-model="$ctrl.selectedDir"
                ng-change="$ctrl.refresh()"
        >
        </select>
    </div>
    <div class="form-group">
        <label for="resSelect">Resource:</label>
        <div class="form-group">
            Search: <input type="text" id="searchInput" ng-model='$ctrl.searchTerm' ng-change="$ctrl.searchResource()">
        </div>
        <select class="form-control" id="resSelect"
                ng-init="$ctrl.selectedRes = $ctrl.filteredResources[0]"
                ng-options="res.name for res in $ctrl.filteredResources track by res.id"
                ng-model="$ctrl.selectedRes"
                ng-change="$ctrl.selectResource()"
        >
        </select>
    </div>
    <div class="form-group">
        <img ng-src="storage\resource?storageId={{$ctrl.selectedRes.storageId}}" alt="icon" style="float:right;margin-right:5px" height="80" width="80">
    </div>
</div>
