<fieldset  style="background-color:#E8F8FF; padding-bottom:15px">
    <legend>Loot Holder</legend>
    <table>
        <tr>
            <td><b>Holder</b></td>
        </tr>
        <tr>
            <td>
                <select class="form-control" ng-options="item.name for item in $ctrl.items track by item.uid" ng-model="$ctrl.data.uid"></select>
            </td>
            <td>Chance: <input type="number" id="numberInput" ng-model='$ctrl.data.chance'></td>
        </tr>
        <tr>
            <td><b>Items</b></td>
        </tr>
        <tr ng-repeat="itema in $ctrl.data.loot track by $index">
            <td>
                <item-select data="$ctrl.data.loot[$index]"></item-select>
            </td>

            <td>Count: <input type="number" id="numberInput" ng-model='$ctrl.data.loot[$index].count'></td>
            <td>Chance: <input type="number" id="numberInput" ng-model='$ctrl.data.loot[$index].chance'></td>
            <td><button ng-click='$ctrl.removeElementFromArray($ctrl.data.loot, $ctrl.data.loot[$index])'>Remove</button></td>
        </tr>
        <tr>
            <td>
                <button ng-click='$ctrl.addElementToArray($ctrl.data.loot, {uid: {uid:0}, count:1, chance:100})'>Add Item</button>
            </td>
        </tr>
    </table>
</fieldset>
