<fieldset style="background-color:lightyellow; width:300px; padding-bottom:15px">
    <legend>Sprite</legend>
    <table>
        <tr>
            <td>Enabled: <input type="checkbox" ng-model='$ctrl.data.enabled'></td>
        </tr>
        <tr>
            <td>
                Order: <input type="number" id="numberInput" ng-model='$ctrl.data.order'>
                Flip X: <input type="checkbox" ng-model='$ctrl.data.flipX'> Y: <input type="checkbox" ng-model='$ctrl.data.flipY'>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td><b>Offset</b></td>
        </tr>
        <tr>
            <td>
                X: <input type="number" id="numberInput" ng-model='$ctrl.data.offset.x'>
                Y: <input type="number" id="numberInput" ng-model='$ctrl.data.offset.y'>
            </td>
        </tr>
        <tr>
            <td><b>Scale</b></td>
        </tr>
        <tr>
            <td>
                W: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.scale.width'>
                H: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.scale.height'>
            </td>
        </tr>
        <tr>
            <td><n-image data="$ctrl.data.resource"></n-image></td>
        </tr>
    </table>
</fieldset>
