<fieldset style="background-color:lightyellow; float:left">
    <legend>Sprite</legend>
    Enabled: <input type="checkbox" ng-model='$ctrl.spriteData.enabled'>
    <br/>
    Order: <input type="number" id="numberInput" ng-model='$ctrl.spriteData.order'>
    <br/>
    <span>
        Offset
        X: <input type="number" id="numberInput" ng-model='$ctrl.spriteData.offset.x'>
        Y: <input type="number" id="numberInput" ng-model='$ctrl.spriteData.offset.y'>
    </span>
    <br/>
    <span>
        Scale
        W: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.spriteData.scale.width'>
        H: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.spriteData.scale.height'>
        </span>
    <br/>
    Image File: <input type="text" name="spriteData_imageFile" ng-model='$ctrl.spriteData.imageFile'>
</fieldset>
