<!--https://getbootstrap.com/docs/4.1/examples/starter-template/ -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">NPC Data Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--            </li>-->

            <!-- File -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="npc-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NPC</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#!npc/list">List</a>
                    <button type="input"  class="dropdown-item" ng-click='$ctrl.changeRoute("/npc/edit")'>Create</button>
                    <a class="dropdown-item" href="#!npc/importExport/import">Import</a>
                    <a class="dropdown-item" href="#!npc/importExport/export">Export</a>
                </div>
            </li>
            <!-- Npc -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="item-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Item</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#!item/list">List</a>
                    <button type="input"  class="dropdown-item" ng-click='$ctrl.changeRoute("/item/edit")'>Create</button>
                    <a class="dropdown-item" href="#!item/importExport/import">Import</a>
                    <a class="dropdown-item" href="#!item/importExport/export">Export</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
    </div>
</nav>
