body {
    padding-top: 5rem;
}

#numberInput {
    width:60px;
}

#tinynumberInput {
    width:30px;
}

legend {
    font-size: 20px;
}

div {
    padding-left: 20px;
    padding-right: 20px;
}


td {
    text-align: right;
}

.image {
    float: left;
    border-style: dashed;
    border-width:thin;
    border-color:lightsalmon;
    margin-left: 5px;
}

/* Remove input arrows Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove input arrows Firefox */
input[type=number] {
    -moz-appearance:textfield;
}
