<fieldset  style="background-color:#E8F8FF; padding-bottom:15px">
    <legend>Status</legend>
    <table>
        <tr>
            <td id="alignedtd">Strength: <input type="number" id="numberInput" ng-model='$ctrl.data.strength'></td>
            <td id="alignedtd">Life: <input type="number" id="numberInput" ng-model='$ctrl.data.life'></td>
        </tr>
        <tr>
            <td id="alignedtd">Intelligence: <input type="number" id="numberInput" ng-model='$ctrl.data.intelligence'></td>
            <td id="alignedtd">Mana: <input type="number" id="numberInput" ng-model='$ctrl.data.mana'></td>
        </tr>
        <tr>
            <td id="alignedtd">Dexterity: <input type="number" id="numberInput" ng-model='$ctrl.data.dexterity'></td>
        </tr>
        <tr>
            <td id="alignedtd">Accuracy: <input type="number" id="numberInput" ng-model='$ctrl.data.accuracy'></td>
        </tr>
    </table>
</fieldset>
