<div>
    <button  ng-click='$ctrl.save()'>Save</button>
    <fieldset>
        <legend>{{$ctrl.data.name}}</legend>
        <div>
            <fieldset style="background-color:#ffddb0; width:30%; float:left">
                <legend>General</legend>
                <table>
                    <tr>
                        <td>Type:</td>
                        <td style="text-align: left">
                        <select ng-model='$ctrl.data.type'>
                            <option value="gold">Gold</option>
                            <option value="quest">Quest</option>
                            <option value="wearable">Wearable</option>
                            <option value="usable">Usable</option>
                            <option value="valuable">Valuable</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>UID:</td>
                        <td><input type="text" name="id" readonly ng-model="$ctrl.data.uid"></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" ng-model='$ctrl.data.name'></td>
                    </tr>
                    <tr>
                        <td>Descritpion:</td>
                        <td><input type="text" ng-model='$ctrl.data.description'></td>
                    </tr>
                    <tr>
                        <td>Level:</td>
                        <td><input type="number" ng-model='$ctrl.data.level'></td>
                    </tr>
                    <tr>
                        <td>Count:</td>
                        <td><input type="number" ng-model='$ctrl.data.count'></td>
                    </tr>
                    <tr>
                        <td>Max Stack:</td>
                        <td><input type="number" ng-model='$ctrl.data.maximumStack'></td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td><input type="number" ng-model='$ctrl.data.price'></td>
                    </tr>
                </table>
            </fieldset>
            <fieldset style="background-color:lightcyan; width:30%; float:left">
                <legend>Icon</legend>
                Rect<br />
                X: <input type="number" id="numberInput" ng-model='$ctrl.data.iconData.rect.x'>
                Y: <input type="number" id="numberInput" ng-model='$ctrl.data.iconData.rect.y'>
                </span>
                <br />
                <span>
                W: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.iconData.rect.width'>
                H: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.iconData.rect.height'>
                </span><br />
                Image File: <input type="text" name="iconData_imageFile" ng-model='$ctrl.data.iconData.imageFile'>
            </fieldset>
            <fieldset style="background-color:lightyellow; width:30%; float:left">
                <legend>Sprite</legend>
                Enabled: <input type="checkbox" ng-model='$ctrl.data.spriteData.enabled'>
                <br />
                Order: <input type="number" id="numberInput" ng-model='$ctrl.data.spriteData.order'>
                <br />
                <span>
                Offset
                X: <input type="number" id="numberInput" ng-model='$ctrl.data.spriteData.offset.x'>
                Y: <input type="number" id="numberInput" ng-model='$ctrl.data.spriteData.offset.y'>
                </span>
                <br />
                <span>
                Scale
                W: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.spriteData.scale.width'>
                H: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.spriteData.scale.height'>
                </span><br />
                Image File: <input type="text" name="spriteData_imageFile" ng-model='$ctrl.data.spriteData.imageFile'>
            </fieldset>
        </div>

        <div ng-hide='$ctrl.data.type !== "wearable"'>
            <fieldset style="background-color:#E8F8FF; width:30%; float:left">
                <legend>Status</legend>
                <table>
                    <tr>
                        <td>Attack:</td>
                        <td><input type="number" id="numberInput" style="text-align:center" ng-model='$ctrl.data.status.minAttack'>-</td>
                        <td><input type="number" id="numberInput" style="text-align:center"  ng-model='$ctrl.data.status.maxAttack'></td>
                    </tr>
                    <tr>
                        <td>Defense:</td>
                        <td><input type="number" id="numberInput" style="text-align:center" ng-model='$ctrl.data.status.defense'></td>
                    </tr>
                    <tr>
                        <td>Range:</td>
                        <td><input type="number" id="numberInput" style="text-align:center" ng-model='$ctrl.data.status.minRange'>-</td>
                        <td><input type="number" id="numberInput" style="text-align:center"  ng-model='$ctrl.data.status.maxRange'></td>
                    </tr>
                    <tr>
                        <td>Ammo Type:</td>
                        <td>
                            <select ng-model='$ctrl.data.ammoType'>
                                <option value="NONE">None</option>
                                <option value="ARROW">Arrow</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset style="background-color:#E8F8FF; width:30%; float:left">
                <legend>Slots</legend>
                <ul>
                    <li ng-repeat="slot in $ctrl.data.wearableSlots track by $index" style="padding-top:5px; padding-bottom: 5px">
                        <select ng-model='$ctrl.data.wearableSlots[$index]'>
                            <option value="NECK">Neck</option>
                            <option value="HEAD">Head</option>
                            <option value="TORSO">Torso</option>
                            <option value="FEET">Feet</option>
                            <option value="AMMO">Ammo</option>
                            <option value="BACK">Back</option>
                            <option value="LEFT_HAND">Left Hand</option>
                            <option value="RIGHT_HAND">Right Hand</option>
                        </select>
                        <div style="float:right">
                            <button ng-click='$ctrl.removeElementFromArray($ctrl.data.wearableSlots, $ctrl.data.wearableSlots[$index])'>Remove</button>
                        </div>
                    </li>
                </ul>
                <div style="padding-top:10px; padding-bottom: 5px">
                    <button ng-click='$ctrl.addElementToArray($ctrl.data.wearableSlots, "NECK")'>Add Slot</button>
                </div>
            </fieldset>
        </div>
        <div ng-hide='$ctrl.data.type !== "usable"'>
            <fieldset style="background-color:#E8F8FF; width:30%; float:left">
                <legend>Modifiers</legend>
                Sound EFX: <input type="text" ng-model='$ctrl.data.soundEfx'>
                <ul>
                    <li ng-repeat="mod in $ctrl.data.statusModifiersData" style="padding-top:5px; padding-bottom: 5px">
                        <td>Life Mod: <input type="number" id="numberInput" ng-model='mod.lifeModifier'></td>
                        <td>Mana Mod: <input type="number" id="numberInput" ng-model='mod.manaModifier'></td>
                        <div style="float:right">
                            <button ng-click='$ctrl.removeElementFromArray($ctrl.data.statusModifiersData, mod)'>Remove</button>
                        </div>
                    </li>
                </ul>
                <div style="padding-bottom: 5px">
                    <button ng-click='$ctrl.addElementToArray($ctrl.data.statusModifiersData, {lifeModifier: 0, manaModifier: 0})'>Add Modifier</button>
                </div>
            </fieldset>
        </div>

        <div ng-hide='$ctrl.data.status.minRange <= 0'>
            <fieldset style="background-color:#E8F8FF; width:30%; float:left">
                <legend>Aim</legend>
                <fieldset style="background-color:lightyellow; float:left">
                    <legend>Sprite</legend>
                    Enabled: <input type="checkbox" ng-model='$ctrl.data.aim.aimSprite.enabled'>
                    <br />
                    Order: <input type="number" id="numberInput" ng-model='$ctrl.data.aim.aimSprite.order'>
                    <br />
                    <span>
                Offset
                X: <input type="number" id="numberInput" ng-model='$ctrl.data.aim.aimSprite.offset.x'>
                Y: <input type="number" id="numberInput" ng-model='$ctrl.data.aim.aimSprite.offset.y'>
                </span>
                    <br />
                    <span>
                Scale
                W: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.aim.aimSprite.scale.width'>
                H: <input type="number" id="numberInput" step="0.001" ng-model='$ctrl.data.aim.aimSprite.scale.height'>
                </span><br />
                    Image File: <input type="text" name="spriteData_imageFile" ng-model='$ctrl.data.aim.aimSprite.imageFile'>
                </fieldset>
            </fieldset>
        </div>

    </fieldset>
</div>
