<!--<li ng-repeat="npc in $ctrl.npcs | filter:$ctrl.query">-->
<ul style="width:50%; padding-bottom: 50px;">
    <li ng-repeat="npc in $ctrl.npcs" style="padding-bottom: 10px; padding-top: 10px">
        <fieldset style="background-color: #e0e0eb">
            <legend style="font-size: 24px;">{{npc.name}}</legend>
            <div style="float:left; width:300px">
                <button type="input" ng-click="$ctrl.editNpc(npc)" style="float:left;width:50px;height:70px; margin-right:10px; margin-bottom: 5px">Edit</button>
                Image: {{npc.spriteData.imageFile}}<br />
                Behavior ID: {{npc.behaviorId}}
            </div>
            <div style="float:right">
                <button type="input" ng-click="$ctrl.removeNpc(npc)" style="float:left;height:70px; margin-right:10px; margin-bottom: 5px">Remove</button>
            </div>
        </fieldset>
    </li>
</ul>
