<!--<li ng-repeat="npc in $ctrl.npcs | filter:$ctrl.query">-->
<ul>
    <li ng-repeat="npc in $ctrl.npcs">
        <fieldset>
            <legend style="font-size: 24px;">{{npc.name}}</legend>
            <div style="float:left; width:300px">
                <button type="input" ng-click="$ctrl.editNpc(npc)" style="float:left;width:50px;height:70px; margin-right:10px">Edit</button>
                Image: {{npc.spriteData.imageFile}}<br />
                Behavior ID: {{npc.behaviorId}}
            </div>
            <div style="float:right">
                <form action="/removeNpc">
                    <input type="submit" value="Remove" style="width:70px;height:50px; margin-left:10px">
                    <input hidden name="id" value="${npc.getId()}">
                </form>
            </div>
        </fieldset>
    </li>
</ul>
