<div>
    <span ng-repeat="elem in $ctrl.elements">
        <fieldset style="background-color: {{elem.bgcolor}}; padding-bottom: 10px">
            <legend style="font-size: 24px;">{{elem.legend}}</legend>
            <div style="float:left; width:350px">
                <button type="input" ng-click="elem.data.list()" style="float:left;width:70px;height:70px; margin-right:10px; margin-bottom: 5px">List</button>
                <img ng-src="{{elem.icon.image}}" alt="item_icon" style="float:left" height="{{elem.icon.w}}" width="{{elem.icon.h}}">
                Count: {{elem.data.count}} <br />
            </div>
        </fieldset>
    </span>
</div>
