<div class="container">
    <fieldset class="row col-md-12 align-items-center" ng-repeat="elem in $ctrl.elements" style="background-color: {{elem.bgcolor}}; padding-bottom: 10px">
        <legend class="col-md-12">{{elem.legend}}</legend>
            <div class="col-md-1 text-left">
                <button class="btn btn-primary col-md-12" ng-click="elem.data.list()">List</button>
            </div>
            <div class="col-md-1">
                <img ng-src="{{elem.icon.image}}" alt="item_icon" height="{{elem.icon.w}}" width="{{elem.icon.h}}">
            </div>
            <div class="col-md-2">
            <label >Count: {{elem.data.count}}</label>
            </div>
    </fieldset>
</div>
