<div>
<button  ng-click='$ctrl.save()'>Save</button>
    <fieldset>
        <legend>{{$ctrl.npcData.name}}</legend>

        <div>
            <fieldset style="background-color:#ffddb0; width:20%; float:left">
                <legend>General</legend>
                UID: <input type="text" name="id" readonly ng-model="$ctrl.npcData.uid"><br />
                Name: <input type="text" ng-model='$ctrl.npcData.name'><br />
                Map: <input ng-model='$ctrl.npcData.mapName'><br />
                Behavior Id: <input type="number" ng-model='$ctrl.npcData.behaviorId'><br />
                Is Facing Right: <input type="checkbox" ng-model='$ctrl.npcData.facingRight'>
            </fieldset>
            <sprite data='$ctrl.npcData.spriteData'></sprite>
        </div>
    </fieldset>

    <fieldset>
        <legend>Interactions</legend>

            Interaction Order:
            <span ng-repeat="order in $ctrl.npcData.interactionOrder track by $index">
                <input type="number" id="tinynumberInput" ng-model='$ctrl.npcData.interactionOrder[$index]'>
            </span>


        <ul>
            <li ng-repeat="inter in $ctrl.getSortedInteractionData() track by $index">
            <fieldset style="background-color:#bde7a5">
                <legend>{{inter.type}}</legend>

                <div style="padding-top:10px; padding-bottom: 5px">
                    <button ng-click='$ctrl.removeInteraction(inter)' style="float:right">Remove Interaction</button>
                </div>

                Id: <input type="number" readonly ng-model="inter.id">
                <br />
                Type: <select ng-model='inter.type'>
                    <option value="DIALOG">Dialog</option>
                    <option value="DECISION">Decision</option>
                    <option value="MERCHANT">Merchant</option>
                    <option value="GIVE_ITEM">Give Item</option>
                    <option value="PLAY_SOUND">Play Sound</option>
                    <option value="TELEPORT">Teleport</option>
                    <option value="REMOVE_QUEST_ITEM">Remove Quest Item</option>
                    <option value="CONTAINER">Container</option>
                    <option value="CHANGE_HERO_SPRITE">Change Hero Sprite</option>
                </select>
                <br />

                <div style="background:#b8daff;">
                    <span style="float:left"><b>Required Events State:</b></span>
                    <br />
                    <event-state data='inter.requireEventsState'></event-state>
                </div>

                <div style="background:#66b0ff;">
                <span style="float:left;"><b>Update Events State:</b></span>
                    <br />
                    <event-state data='inter.updateEventsState'></event-state>
                </div>

                <span ng-hide='inter.type !== "MERCHANT" && inter.type !== "GIVE_ITEM" && inter.type !== "CONTAINER"'>
                    Price Multiplier: <input type="number" step="0.01" id="numberInput" ng-model='inter.priceMultiplier'><br />
                    <store-items data='inter.storeItems'></store-items>
                </span>

                <span ng-hide='inter.type !== "CHANGE_HERO_SPRITE" && inter.type !== "TELEPORT"'>
                    Target Id: <input type="number" step="1" id="numberInput" ng-model='inter.targetId'>
                </span>

                <span ng-hide='inter.type !== "TELEPORT"'>
                    Pos - X: <input type="number" step="1" id="numberInput" ng-model='inter.toPos.x'>
                    Y: <input type="number" step="1" id="numberInput" ng-model='inter.toPos.y'><br />
                </span>

                <span ng-hide='inter.type !== "REMOVE_QUEST_ITEM" && inter.type !== "PLAY_SOUND"'>
                    Target Data: <input type="text" ng-model='inter.targetData' style="width: 350px">
                </span>
                <br />

                <span ng-hide='inter.type !== "DECISION"'>
                    <fieldset style="background-color:#afbf7f">
                        <legend>Title</legend>
                        <div style="background-color:#5cb1af">
                            <div style="float:left;"><textarea rows="1" cols="100" ng-model='inter.decision.title.text'></textarea></div>
                        </div>
                    </fieldset>

                        <ul style="background:#b8daff;">
                            <li ng-repeat="option in inter.decision.selectOptions" style="padding-top:5px; padding-bottom: 5px">
                            <fieldset style="background-color:#afbf7f">
                                <legend>Option</legend>
                                Text: <input type="text" rows="1" cols="100" ng-model='option.label.text'><br />

                                <div>
                                    <span style="float:left"><b>Update Events State:</b></span>
                                    <br />
                                    <event-state data='option.updateEventsState'></event-state>
                                </div>

                            <div style="padding-top:10px; padding-bottom: 5px">
                                <button ng-click='$ctrl.removeElementFromArray(inter.decision.selectOptions, option)'>Remove Option</button>
                            </div>
                            </fieldset>
                            </li>
                        </ul>
                    <div style="padding-top:10px; padding-bottom: 5px">
                        <button  ng-click='$ctrl.addOption(inter.decision.selectOptions)'>Add Option</button>
                    </div>
                </span>

                <span ng-hide='inter.type !== "DIALOG"'>
                    <ul style="background:#b8daff;">
                        <li ng-repeat="msg in inter.messages" style="padding-top:5px; padding-bottom: 5px">
                        <fieldset style="background-color:#afbf7f">
                            <legend>Message {{msg.id}}</legend>
                            <div style="float:left; width:73%">
                                <legend>Title</legend>
                                <div style="background-color:#5cb1af">
                                    <div style="float:left;"><textarea rows="4" cols="100" ng-model='msg.title.text'></textarea></div>
                                    <div>
                                        Font: <input type="text" ng-model='msg.title.font'>
                                        Style: <input type="number" id="numberInput" ng-model='msg.title.style'>
                                        Size: <input type="number" id="numberInput" ng-model='msg.title.size'>
                                        Color: Text: <input type="color" ng-model='msg.title.colorAsHex'><br />
                                        Horizontal Align: <input type="number" id="numberInput" ng-model='msg.title.horizontalAlignment'>
                                        Vertical Align: <input type="number" id="numberInput" ng-model='msg.title.verticalAlignment'>
                                        <br />
                                        <span>
                                            Rect
                                            X: <input type="number" id="numberInput" ng-model='msg.title.rect.x'>
                                            Y: <input type="number" id="numberInput" ng-model='msg.title.rect.y'>
                                            W: <input type="number" id="numberInput" ng-model='msg.title.rect.width'>
                                            H: <input type="number" id="numberInput" ng-model='msg.title.rect.height'>
                                        </span>
                                    </div>
                                </div>
                                <legend>Text</legend>
                                <div style="background-color:#5cb1af">
                                    <div style="float:left;"><textarea rows="4" cols="100" ng-model='msg.text.text'></textarea></div>
                                    <div>
                                        Font: <input type="text" ng-model='msg.text.font'>
                                        Style: <input type="number" id="numberInput" ng-model='msg.text.style'>
                                        Size: <input type="number" id="numberInput" ng-model='msg.text.size'>
                                        Color: Text: <input type="color" ng-model='msg.text.colorAsHex'><br />
                                        Horizontal Align: <input type="number" id="numberInput" ng-model='msg.text.horizontalAlignment'>
                                        Vertical Align: <input type="number" id="numberInput" ng-model='msg.text.verticalAlignment'>
                                        <br />
                                        <span>
                                            Rect
                                            X: <input type="number" id="numberInput" ng-model='msg.text.rect.x'>
                                            Y: <input type="number" id="numberInput" ng-model='msg.text.rect.y'>
                                            W: <input type="number" id="numberInput" ng-model='msg.text.rect.width'>
                                            H: <input type="number" id="numberInput" ng-model='msg.text.rect.height'>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-top:10px; padding-bottom: 5px">
                                <button ng-click='$ctrl.removeElementFromArray(inter.messages, msg)'>Remove Message</button>
                            </div>
                        </fieldset>
                        </li>
                    </ul>
                    <div style="padding-top:10px; padding-bottom: 5px">
                        <button  ng-click='$ctrl.addMessage(inter.messages)'>Add Message</button>
                    </div>
                </span>
            </fieldset>
        </li>
        </ul>
        <div style="padding-top:10px; padding-bottom: 5px">
            <button ng-click='$ctrl.addInteraction()'>Add Interaction</button>
        </div>
    </fieldset>

</div>
