<div>
    <fieldset>
        <legend>Npc Data Manager</legend>
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" ng-model="$ctrl.data.username"><br /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" ng-model="$ctrl.data.password"><br /></td>
            </tr>
            <tr>
                <td>
                </td>
                <td style="float:right">
                    <button  ng-click='$ctrl.submit()'>Log in</button>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
