<fieldset style="background-color:#E8F8FF; float:left">
    <legend>Persistent Status Modifier</legend>
    <table>
        <tr>
            <td>
                <table>
                    <tr ng-repeat="modifier in $ctrl.data track by $index" style="padding-top:5px; padding-bottom: 5px">
                        <td>Type:</td>
                        <td style="text-align: left">
                            <select ng-model='$ctrl.data[$index].type'>
                                <option value="FROZEN">Frozen</option>
                                <option value="POISONED">Poisoned</option>
                                <option value="MELEE_ATTACK">Melee Attack</option>
                                <option value="RANGED_ATTACK">Ranged Attack</option>
                                <option value="MAGIC_ATTACK">Magic Attack</option>
                                <option value="PHYSICAL_DEFENSE">Physical Defense</option>
                                <option value="MAGICAL_DEFENSE">Magical Defense</option>
                            </select>
                        </td>
                        <td>Value:</td>
                        <td><input type="number" id="numberInput" style="text-align:center" ng-model='$ctrl.data[$index].value'></td>
                        <td>Turns:</td>
                        <td><input type="number" id="numberInput" style="text-align:center" ng-model='$ctrl.data[$index].turns'></td>
                        <td>
                            <button ng-click='$ctrl.removeElement($ctrl.data[$index])'>Remove</button>
                        </td>
                    </tr>
                    <tr style="padding-top:10px; padding-bottom: 5px">
                        <td>
                            <button ng-click='$ctrl.addElement()'>Add</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</fieldset>
